In [2]:
import pandas as pd

df = pd.read_csv('hwone.csv',encoding='ANSI')

print(df)

      學年度別 設立別   學制別 每班教師數  每班學生數    生師比
0      57年  總計  大專校院  2.34  35.73  15.27
1      57年  總計  高級中學     -  51.25      -
2      57年  總計  職業學校     -  53.46      -
3      57年  總計  國民中學     -  53.91      -
4      57年  總計  國民小學  1.41  56.51  40.08
...    ...  ..   ...   ...    ...    ...
1075  110年  私立  大專校院     -      -   30.6
1076  110年  私立  高級中學  2.09  40.04  17.83
1077  110年  私立  職業學校  1.76  29.05  17.79
1078  110年  私立  國民中學     3  40.17      8
1079  110年  私立  國民小學  1.94  37.87  19.52

[1080 rows x 6 columns]

# 問題一:公私立的"師生比"比較

In [3]:
temp = df[['設立別','生師比']]
temp

     設立別    生師比
0     總計  15.27
1     總計      -
2     總計      -
3     總計      -
4     總計  40.08
...   ..    ...
1075  私立   30.6
1076  私立  17.83
1077  私立  17.79
1078  私立      8
1079  私立  19.52

[1080 rows x 2 columns]

In [34]:
Type = temp.groupby(['設立別'])['生師比'].sum().reset_index()
Type

  設立別                                                生師比
0  國立  11.93---28.7911.91---27.8511.74---27.0312---26...
1  市立  14.45---40.3114.39---39.1713.19---38.5413.27--...
2  私立  20.81---38.2521.68---38.0823.09---38.7523.26--...
3  總計  15.27---40.0815.55---3915.82---38.4316.24---37...

# 問題二:不同"學制"下"每班學生數"比較

In [37]:
Temp = df[['學制別','每班學生數']]
Temp

       學制別  每班學生數
0     大專校院  35.73
1     高級中學  51.25
2     職業學校  53.46
3     國民中學  53.91
4     國民小學  56.51
...    ...    ...
1075  大專校院      -
1076  高級中學  40.04
1077  職業學校  29.05
1078  國民中學  40.17
1079  國民小學  37.87

[1080 rows x 2 columns]

In [39]:
Typeone =df.groupby(['學制別'])['每班學生數'].sum().reset_index()
Typeone

    學制別                                              每班學生數
0  國民中學  53.91-54.1352.9851.44-51.4951.0650.22-50.3847....
1  國民小學  56.5151.2756.3761.2555.9149.5955.762.0355.4849...
2  大專校院  35.7328.3744.4346.536.1729.3744.4945.0136.4129...
3  職業學校  53.46-46.1756.7653.22-45.9455.9151.92-43.9954....
4  高級中學  51.2549.9350.8352.8751.1349.4951.3651.2651.425...

# 問題三:57年的國私立生師比

In [7]:
import pandas as pd
data = pd.read_csv('hwone.csv',encoding='ANSI')
row_data = data.iloc[0]#取得第一行数据
row_data = data.iloc[[ 0,7, 8,9,10,11,12,13,14,15,16,17,18,19]]  # 取得第幾行数据
row_data

   學年度別 設立別   學制別 每班教師數  每班學生數    生師比
0   57年  總計  大專校院  2.34  35.73  15.27
7   57年  國立  職業學校     -      -      -
8   57年  國立  國民中學     -      -      -
9   57年  國立  國民小學  1.78  51.27  28.79
10  57年  市立  大專校院  3.08  44.43  14.45
11  57年  市立  高級中學     -  50.83      -
12  57年  市立  職業學校     -  46.17      -
13  57年  市立  國民中學     -  54.13      -
14  57年  市立  國民小學   1.4  56.37  40.31
15  57年  私立  大專校院  2.23   46.5  20.81
16  57年  私立  高級中學     -  52.87      -
17  57年  私立  職業學校     -  56.76      -
18  57年  私立  國民中學     -  52.98      -
19  57年  私立  國民小學   1.6  61.25  38.25

In [140]:
df= df.replace('-', np.nan) #將數據中'-'忽略
df.iloc[:, 5] = df.iloc[:, 5].astype(float) #將數據中的字串改成浮點數

Typeone =row_data.groupby(['設立別'])['生師比'].sum().reset_index()
Typeone

  設立別            生師比
0  國立        --28.79
1  市立  14.45---40.31
2  私立  20.81---38.25
3  總計          15.27

In [58]:
Typeone['year'] = 57
Typeone

  設立別                                                生師比  year
0  國立  11.93---28.7911.91---27.8511.74---27.0312---26...    57
1  市立  14.45---40.3114.39---39.1713.19---38.5413.27--...    57
2  私立  20.81---38.2521.68---38.0823.09---38.7523.26--...    57
3  總計  15.27---40.0815.55---3915.82---38.4316.24---37...    57

# 問題四:60~69年間的"師生比"

In [18]:
import pandas as pd

data = pd.read_csv('hwone.csv',encoding='ANSI')  # 读取数据文件
selected_row = data.iloc[85:260]  # 选择编号为 87 到 261 的列
selected_row

    學年度別 設立別   學制別 每班教師數  每班學生數    生師比
85   61年  國立  大專校院  2.45   29.5  12.06
86   61年  國立  高級中學     -   50.8      -
87   61年  國立  職業學校     -      -      -
88   61年  國立  國民中學     -      -      -
89   61年  國立  國民小學  1.79   45.4   25.4
..   ...  ..   ...   ...    ...    ...
255  69年  私立  大專校院  1.76  45.78  25.97
256  69年  私立  高級中學   1.6  46.65   29.1
257  69年  私立  職業學校   1.5  51.44  34.38
258  69年  私立  國民中學   2.1  51.33  24.39
259  69年  私立  國民小學  1.73  51.72   29.9

[175 rows x 6 columns]

In [145]:
import pandas as pd
import numpy as np

df = pd.read_csv('hwone.csv',encoding='ANSI')
df['生師比'] = df['生師比'].replace('-', np.nan) #將數據中'-'忽略
df.iloc[:, 5] = df.iloc[:, 5].astype(float) #將數據中的字串改成浮點數

resultone = df.iloc[60:65,5].sum() #60年
resulttwo = df.iloc[80:85,5].sum() #61年
resultthree = df.iloc[100:105,5].sum() #62年
resultfour = df.iloc[120:125,5].sum() #63年
resultfive = df.iloc[140:145,5].sum() #64年
resultsix = df.iloc[160:165,5].sum() #65年
resultseven = df.iloc[180:185,5].sum() #66年
resulteight = df.iloc[200:205,5].sum() #67年
resultnine = df.iloc[220:225,5].sum() #68年
resultten = df.iloc[240:245,5].sum() #69年
print(resultone)
print(resulttwo)
print(resultthree)
print(resultfour)
print(resultfive)
print(resultsix)
print(resultseven)
print(resulteight)
print(resultnine)
print(resultten)

54.16
54.19
55.06
54.81999999999999
54.81999999999999
52.92
51.510000000000005
122.38
120.76
122.22000000000001

In [147]:
tatal=resultone +resulttwo +resultthree +resultfour +resultfive+resultsix+resultseven+resulteight+resultnine+resultten
tatal

742.84

# 問題五:70~79年間的"師生比"

In [151]:
import pandas as pd
import numpy as np

df = pd.read_csv('hwone.csv',encoding='ANSI')
df['生師比'] = df['生師比'].replace('-', np.nan) #將數據中'-'忽略
df.iloc[:, 5] = df.iloc[:, 5].astype(float) #將數據中的字串改成浮點數

a70= df.iloc[260:265,5].sum() 
a71= df.iloc[280:285,5].sum() 
a72= df.iloc[300:305,5].sum() 
a73= df.iloc[320:325,5].sum() 
a74= df.iloc[340:345,5].sum() 
a75= df.iloc[360:365,5].sum() 
a76= df.iloc[380:385,5].sum() 
a77= df.iloc[400:405,5].sum() 
a78= df.iloc[420:425,5].sum() 
a79= df.iloc[440:445,5].sum() 
print(a70)
print(a71)
print(a72)
print(a73)
print(a74)
print(a75)
print(a76)
print(a77)
print(a78)
print(a79)

121.77000000000001
120.37
117.84
117.62
118.44999999999999
116.37
117.16
115.72
114.22999999999999
111.75

In [153]:
tatal1= a70+a71+a72+a73+a74+a75+a76+a77+a78+a79
tatal1

1171.28

# 問題六:80~89年間的"師生比"

In [155]:
import pandas as pd
import numpy as np

df = pd.read_csv('hwone.csv',encoding='ANSI')
df['生師比'] = df['生師比'].replace('-', np.nan) #將數據中'-'忽略
df.iloc[:, 5] = df.iloc[:, 5].astype(float) #將數據中的字串改成浮點數

a80= df.iloc[460:465,5].sum() 
a81= df.iloc[480:485,5].sum() 
a82= df.iloc[500:505,5].sum() 
a83= df.iloc[520:525,5].sum() 
a84= df.iloc[540:545,5].sum() 
a85= df.iloc[560:565,5].sum() 
a86= df.iloc[580:585,5].sum() 
a87= df.iloc[600:605,5].sum() 
a88= df.iloc[620:625,5].sum() 
a89= df.iloc[640:645,5].sum() 
print(a80)
print(a81)
print(a82)
print(a83)
print(a84)
print(a85)
print(a86)
print(a87)
print(a88)
print(a89)

109.44999999999999
110.49000000000001
106.16
105.84000000000002
102.22
99.44
97.72
96.96000000000001
96.03
95.69

In [158]:
tatal2=a80+a81+a82+a83+a84+a85+a86+a87+a88+a89
tatal2

1020.0000000000002

# 問題七:90~99年間的"師生比"

In [157]:
import pandas as pd
import numpy as np

df = pd.read_csv('hwone.csv',encoding='ANSI')
df['生師比'] = df['生師比'].replace('-', np.nan) #將數據中'-'忽略
df.iloc[:, 5] = df.iloc[:, 5].astype(float) #將數據中的字串改成浮點數

a90= df.iloc[660:665,5].sum() 
a91= df.iloc[680:685,5].sum() 
a92= df.iloc[700:705,5].sum() 
a93= df.iloc[720:725,5].sum() 
a94= df.iloc[740:745,5].sum() 
a95= df.iloc[760:765,5].sum() 
a96= df.iloc[780:785,5].sum() 
a97= df.iloc[800:805,5].sum() 
a98= df.iloc[820:825,5].sum() 
a99= df.iloc[840:845,5].sum() 
print(a90)
print(a91)
print(a92)
print(a93)
print(a94)
print(a95)
print(a96)
print(a97)
print(a98)
print(a99)

94.31
92.6
91.39999999999999
91.55
90.42999999999999
90.03
89.18
88.33000000000001
87.25
85.64

In [159]:
tatal3=a90+a91+a92+a93+a94+a95+a96+a97+a98+a99
tatal3

900.72

# 問題八:100~109年間的"師生比"

In [130]:
import pandas as pd
import numpy as np

df = pd.read_csv('hwone.csv',encoding='ANSI')
df['生師比'] = df['生師比'].replace('-', np.nan) #將數據中'-'忽略
df.iloc[:, 5] = df.iloc[:, 5].astype(float) #將數據中的字串改成浮點數

a100= df.iloc[860:865,5].sum() 
a101= df.iloc[880:885,5].sum() 
a102= df.iloc[900:905,5].sum() 
a103= df.iloc[920:925,5].sum() 
a104= df.iloc[940:945,5].sum() 
a105= df.iloc[960:965,5].sum() 
a106= df.iloc[980:985,5].sum() 
a107= df.iloc[1000:1005,5].sum() 
a108= df.iloc[1020:1025,5].sum() 
a109= df.iloc[1040:1045,5].sum() 
print(a100)
print(a101)
print(a102)
print(a103)
print(a104)
print(a105)
print(a106)
print(a107)
print(a108)
print(a109)

85.10000000000001
83.13000000000001
81.91
80.38999999999999
79.24
78.57000000000001
76.61
74.89
72.88
72.64

In [160]:
tatal4=a100+a101+a102+a103+a104+a105+a106+a107+a108+a109
tatal4

785.3599999999999

# 問題九:110的"師生比"¶

In [144]:
import pandas as pd
import numpy as np

df = pd.read_csv('hwone.csv',encoding='ANSI')
df['生師比'] = df['生師比'].replace('-', np.nan) #將數據中'-'忽略
df.iloc[:, 5] = df.iloc[:, 5].astype(float) #將數據中的字串改成浮點數
a110= df.iloc[1060:1065,5].sum() 
print(a110)

72.96000000000001

# 問題十: 每十年間的"師生比"

In [177]:
values = [tatal, tatal1, tatal2,tatal3,tatal4]
df = pd.DataFrame(values)
print(df)

         0
0   742.84
1  1171.28
2  1020.00
3   900.72
4   785.36

In [178]:
import pandas as pd
import numpy as np

df = pd.DataFrame(values)
df['年份區間'] = ['60~69年', '70~79年', '80~89年', '90~99年','100~109年']
df

         0      年份區間
0   742.84    60~69年
1  1171.28    70~79年
2  1020.00    80~89年
3   900.72    90~99年
4   785.36  100~109年